imatix.gif
left.gif
right.gif
lleft.gif
lright.gif
property.gif
propertya.gif

console.gif
exit.gif
undo.gif
default.gif
save.gif
help.gif
new.gif
delete.gif
next.gif
first.gif
back.gif
clear.gif
restart.gif
refresh.gif
halt.gif
click.gif

lconsole.gif
lexit.gif
lundo.gif
ldefault.gif
lsave.gif
lhelp.gif
lnew.gif
ldelete.gif
lnext.gif
lfirst.gif
lback.gif
lclear.gif
lrestart.gif
lrefresh.gif
lhalt.gif

consolea.gif
exita.gif
undoa.gif
defaulta.gif
savea.gif
helpa.gif
newa.gif
deletea.gif
nexta.gif
firsta.gif
backa.gif
cleara.gif
restarta.gif
refresha.gif
halta.gif
clicka.gif

lconsolea.gif
lexita.gif
lundoa.gif
ldefaulta.gif
lsavea.gif
lhelpa.gif
lnewa.gif
ldeletea.gif
lnexta.gif
lfirsta.gif
lbacka.gif
lcleara.gif
lrestarta.gif
lrefresha.gif
lhalta.gif

